/* :root{
    --var1:#rgba(0,0,0,0);
} */

*{
    margin: 0;
    padding: 0;   
}

body{
    background-image: linear-gradient(to right, rgba(7, 46, 26, 0.52), rgba(7, 46, 26, 0.52)), url(img/วิว.jpg);
    /* opacity: 0.8; */
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carouselExampleCaptions1{
    /* text-align: center; */
}

.overlay-image{
    /* opacity: 0.8; */
}

.carousel-item{
    /* height: 18rem;
    width: 80rem; */
    background: rgb(78, 131, 131);
}

#carouselExampleCaptions1, #carouselExampleCaptions2, #carouselExampleCaptions3, #carouselExampleCaptions4, #carouselExampleCaptions5{
    margin-bottom: 26px;
}
















/* h1{
    font-size: 2.6rem;
    line-height: 4rem;
    font-weight: 800;
}
.btn-white{
    border: 2px solid #faeaea;
    border-radius: 2rem;
    color: #000000;
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 2rem;
}
#hero{
    background-image: linear-gradient(to right, rgba(185, 227, 238, 0.62), rgba(218, 248, 233, 0.52)), url(img/วิว.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    padding-top: 8rem;
    padding-bottom: 6rem;
    position: relative;
}
.btn-alpha{
    background: rgba(0, 0, 0, 0.5);
} */